<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_1-1</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_1-2</key>
            <dict>
                <key>frame</key>
                <string>{{33,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_1-3</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_1-4</key>
            <dict>
                <key>frame</key>
                <string>{{99,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_1-5</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_1-6</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_1-7</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_1-8</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_1-9</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-1</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-2</key>
            <dict>
                <key>frame</key>
                <string>{{33,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-3</key>
            <dict>
                <key>frame</key>
                <string>{{66,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-4</key>
            <dict>
                <key>frame</key>
                <string>{{99,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-5</key>
            <dict>
                <key>frame</key>
                <string>{{132,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-6</key>
            <dict>
                <key>frame</key>
                <string>{{165,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-7</key>
            <dict>
                <key>frame</key>
                <string>{{198,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-8</key>
            <dict>
                <key>frame</key>
                <string>{{231,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_2-9</key>
            <dict>
                <key>frame</key>
                <string>{{264,55},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-1</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-2</key>
            <dict>
                <key>frame</key>
                <string>{{33,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-3</key>
            <dict>
                <key>frame</key>
                <string>{{66,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-4</key>
            <dict>
                <key>frame</key>
                <string>{{99,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-5</key>
            <dict>
                <key>frame</key>
                <string>{{132,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-6</key>
            <dict>
                <key>frame</key>
                <string>{{165,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-7</key>
            <dict>
                <key>frame</key>
                <string>{{198,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-8</key>
            <dict>
                <key>frame</key>
                <string>{{231,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>item_3-9</key>
            <dict>
                <key>frame</key>
                <string>{{264,110},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{297,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:486e4ff1f7155ef1a39fd9821251f95c$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>