<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num3.png</string>
            <key>size</key>
            <string>{16,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:871003ddafdf6fceee94fdd1ef240754$</string>
            <key>textureFileName</key>
            <string>num3.png</string>
        </dict>
    </dict>
</plist>
