<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txt_beginner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,34}}</string>
                <key>sourceSize</key>
                <string>{229,34}</string>
            </dict>
            <key>txt_best_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{100,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,13}}</string>
                <key>sourceSize</key>
                <string>{100,13}</string>
            </dict>
            <key>txt_best_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{110,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,21}}</string>
                <key>sourceSize</key>
                <string>{110,21}</string>
            </dict>
            <key>txt_colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{6,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{6,14}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>txt_colon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{4,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{4,12}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>txt_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{341,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,76}}</string>
                <key>sourceSize</key>
                <string>{341,76}</string>
            </dict>
            <key>txt_congrats.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{275,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,46}}</string>
                <key>sourceSize</key>
                <string>{275,46}</string>
            </dict>
            <key>txt_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,116},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>txt_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,116},{66,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,14}}</string>
                <key>sourceSize</key>
                <string>{70,18}</string>
            </dict>
            <key>txt_error1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{73,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,19}}</string>
                <key>sourceSize</key>
                <string>{73,19}</string>
            </dict>
            <key>txt_expert.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,164},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
            <key>txt_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,164},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>txt_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,164},{126,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,32}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>txt_hints.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{123,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,19}}</string>
                <key>sourceSize</key>
                <string>{123,19}</string>
            </dict>
            <key>txt_last_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,200},{100,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,13}}</string>
                <key>sourceSize</key>
                <string>{100,13}</string>
            </dict>
            <key>txt_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,200},{59,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,16}}</string>
                <key>sourceSize</key>
                <string>{59,16}</string>
            </dict>
            <key>txt_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,200},{189,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,34}}</string>
                <key>sourceSize</key>
                <string>{189,34}</string>
            </dict>
            <key>txt_no_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{70,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{70,7}}</string>
                <key>sourceSize</key>
                <string>{100,13}</string>
            </dict>
            <key>txt_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,236},{122,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,47}}</string>
                <key>sourceSize</key>
                <string>{122,47}</string>
            </dict>
            <key>txt_paused.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,236},{174,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,34}}</string>
                <key>sourceSize</key>
                <string>{174,34}</string>
            </dict>
            <key>txt_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,236},{68,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,22}</string>
            </dict>
            <key>txt_s_beginner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{119,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,22}}</string>
                <key>sourceSize</key>
                <string>{119,22}</string>
            </dict>
            <key>txt_s_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,285},{93,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,24}}</string>
                <key>sourceSize</key>
                <string>{93,24}</string>
            </dict>
            <key>txt_s_expert.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,285},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>txt_s_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,285},{107,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,24}}</string>
                <key>sourceSize</key>
                <string>{107,24}</string>
            </dict>
            <key>txt_s_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{106,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,22}}</string>
                <key>sourceSize</key>
                <string>{106,22}</string>
            </dict>
            <key>txt_select_mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,311},{308,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,34}}</string>
                <key>sourceSize</key>
                <string>{308,34}</string>
            </dict>
            <key>txt_slash.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,311},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>txt_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,311},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{52,14}}</string>
                <key>sourceSize</key>
                <string>{70,18}</string>
            </dict>
            <key>txt_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,28}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txt.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b50f63d556f6a5f83c6c0efa2e6df00$</string>
            <key>textureFileName</key>
            <string>txt.png</string>
        </dict>
    </dict>
</plist>
